{% extends 'registration/registration_base.html' %}
{% block title %}Dj Learning Management System - Register{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-4 mx-auto my-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-lock me-2"></i>
      Lecturer Registration
    </div>
    <div class="card-body">
        {% if form.error %}
            <div class="alert alert-danger">
              <i class="fas fa-exclamation-circle"></i>{{form.error}}
            </div>
        {% endif %}
        <form action="" method="POST" id="register-form">{% csrf_token %}
          <div class="form-group mb-3">
              <label class="mb-2" for="first_name_id"><i class="fa-solid fa-address-card me-2"></i>{{ form.first_name.label }}</label>
              {{ form.first_name }}
              <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="last_name_id"><i class="fa-solid fa-address-card me-2"></i>{{ form.last_name.label }}</label>
              {{ form.last_name }}
              <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="pass1"><i class="fa-solid fa-envelope me-2"></i>{{ form.email.label }}</label>
              {{ form.email }}
          </div>
          <div class="form-group mb-3">
            <label class="mb-2" for="pass2"><i class="fa-solid fa-lock me-2"></i>{{ form.password1.label }}</label>
            {{ form.password1 }}
        </div>
        <div class="form-group mb-3">
          <label class="mb-2" for="email_id"><i class="fa-solid fa-key me-2"></i>{{ form.password2.label }}</label>
          {{ form.password2 }}
      </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="addr-id"><i class="fa-solid fa-location-dot me-2"></i>{{ form.address.label }}</label>
             {{ form.address }}
          </div>
          <div class="form-group mb-3">
              <label class="mb-2" for="no_id"><i class="fa-solid fa-mobile me-2"></i>{{ form.phone.label }}</label>
              {{ form.phone }}
          </div>
          {% if messages %}
                <span class="text-danger"><i class="fas fa-exclamation-circle"></i> {{ messages }}</span><br>
          {% endif %}
      
          <!-- <button type="submit" class="btn btn-primary" id="login-btn"><i class="fas fa-sign-in-alt"></i><small> SIGN IN</small></button> -->
          <div class="btn-group" style="margin-right: 10px;">
            <button type="submit" class="btn btn-secondary" id="register-btn">
              <i class="fas fa-sign-in-alt"></i> <small>Save</small>
            </button>
          </div>

    

        </form>
        <br>
  </div>
</div>
{% endblock content %}

{% block js %}

<script>
  $('#register-form').submit(function (e) {
    // e.preventDefault();
    $('#register-btn').addClass('disabled')
    $('#register-btn').html(`<i class="fas fa-sign-in-alt"></i> Saving details . . .`)
  })

</script>
{% endblock %}