{% extends "base.html" %}
{% block title %}Learning management system{% endblock title %}

{% load class_name %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Active</li>
    </ol>
</nav>  

<style>
    .session-wrapper{position: relative;}
    .session{position: absolute; top: -15px; right: 25px; z-index: 2;}
    .br-orange{border: 1px solid #fd7e14; border-radius: 7px;}
    .class-item {
        display: block;
        border-left: 4px solid #6cbd45; 
        padding: 1rem !important;
        background: #f8f9fa;
        border-radius: 3px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        transition: .5s;
    }
    .class-item p{padding: 2px; margin: 0; color: #b4b4b4; transition: .5s;}
    .class-item a{padding: 2px; color: #343a40; text-decoration: none; transition: .5s;}
    .class-item:hover{
        transform: translateX(15px);
        background: #6cbd45;
    }
    .class-item:hover h4 a {
      color: #fff; }
    .class-item:hover p, .class-item:hover span {
      color: rgb(158, 239, 119); 
    }
</style>

<div class="card p-3" style="box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 10px;">
    <h4><b>Lecturers:</b></h4>
    {% for lecturer in lecturers %}
           {% if lecturer.is_authenticated %}
            <div class="col-12 class-item">
                <h4>{{ lecturer.username }}</b></h4>
                <a href="{% url 'room' lecturer.username %}"> Send Message </a>
            </div><hr>
            {% else %}
            <div class="col-12 class-item">
                <h4>{{ lecturer.username }}</b></h4>
                
            </div><hr>
            {% endif %}
    {% endfor %}
    <h4><b>Students:</b></h4>
    {% for student in students %}
           {% if student.is_authenticated %}
            <div class="col-12 class-item">
                <h4>{{ student.username }}</b></h4>
                <a href="{% url 'room' student.username %}"> Send Message </a>
            </div><hr>
            {% else %}
            <div class="col-12 class-item">
                <h4>{{ student.username }}</b></h4>
                
            </div><hr>
            {% endif %}
    {% endfor %}
   

    
    
{% if feed.paginator.page_range|length > 1 %}
<div class="content-center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in feed.paginator.page_range %}
            {% if i == feed.number %}
                <a class="pagination-active" href="?page={{ i }}"><b>{{ i }}</b></a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        <a href="?page={{ feed.paginator.num_pages }}">&raquo;</a>
    </div>
</div>
{% endif %}

{% endblock content %}
