{% extends "base.html" %}
{% block title %}Learning management system{% endblock title %}

{% load class_name %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Messages</li>
    </ol>
</nav>  

<style>
    .session-wrapper{position: relative;}
    .session{position: absolute; top: -15px; right: 25px; z-index: 2;}
    .br-orange{border: 1px solid #fd7e14; border-radius: 7px;}
    .class-item {
        display: block;
        border-left: 4px solid #6cbd45; 
        padding: 1rem !important;
        background: #f8f9fa;
        border-radius: 3px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        transition: .5s;
    }
    .class-item p{padding: 2px; margin: 0; color: #b4b4b4; transition: .5s;}
    .class-item a{padding: 2px; color: #343a40; text-decoration: none; transition: .5s;}
    .class-item:hover{
        transform: translateX(15px);
        background: #6cbd45;
    }
    .class-item:hover h4 a {
      color: #fff; }
    .class-item:hover p, .class-item:hover span {
      color: rgb(158, 239, 119); 
    }
</style>

<div class="card p-3" style="box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 10px;">
             {% for chatroom, latest_message in latest_messages.items %}
             <div class="col-12 class-item active">
                <!-- <p><b>Program of</b> {{ object }}</p>  -->

                 
                        <div class="card-body">
                            {% if chatroom.user1 == request.user %}
                                <h5 class="card-title">New Message from {{ chatroom.user2.username }}</h5>
                                <p class="card-text">Timestamp: {{ latest_message.timestamp }}</p>
                                <p class="card-text">Content: {{ latest_message.content }}</p>
                                <a href="{% url 'room' chatroom.user2.username %}"> Reply  Message </a>
                            {% else %}
                                <h5 class="card-title">New Message from {{ chatroom.user1.username }}</h5>
                                <p class="card-text">Timestamp: {{ latest_message.timestamp }}</p>
                                <p class="card-text">Content: {{ latest_message.content }}</p>
                                <a href="{% url 'room' chatroom.user1.username %}"> Reply Message </a>
                            {% endif %}
                        </div>
            </div><hr>
            {% empty %}
            <div class="row">
                <div class="col-12 pl-5">
                    <h5>No Messages Found</h5>
                </div>
            </div>
            {% endfor %}


{% endblock content %}
