{% load static %}
<style>
	.head-logo{
		position: absolute;
		left: -1rem;
		top: 0.3rem;
	}
	/* .index{
		position: relative;
		right: 0;

	}
	.top-navbar{
		z-index: 1000;
		background-color: bisque;
	} */
	.index-child {
		position: absolute;
		z-index: 1000000;
		background-color: rgb(201, 201, 201);
	}
	
</style>
<div id="top-navbar" class="py-2 top-navbar">
	<div class="container">
		<a href="/" class="head-logo">
			<img src="{% static 'img/swy e-learning.jpg' %}" width="40px" alt="swy e-learning">
		</a>
		<div class="nav-wrapper">
			<form class="form-header" action="{% url 'query' %}" method="GET">
				<input id="primary-search" class="form-control rounded-end-0" type="text" name="q" value="{{ request.GET.q }}"
					placeholder="Search All... #lecturers, #students, #course, #program, #News, #Events" required />
				<button class="btn btn-dark rounded-start-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>

			<div class="dropdown index">
				<div class="avatar border border-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="{{ request.user.picture.url }}">
				</div>
				<div class="dropdown-menu index-child " style="min-width: 14rem !important;">
					<div class="d-flex flex-column align-items-center">
						<div class="avatar avatar-md border">
							<img src="{{ request.user.picture.url }}">
						</div>
	
						<p class="small text-muted text-center mb-0">
							Last login: {{ request.user.last_login|date }}</p>
					</div>
					<hr>

					{% if request.user.is_lecturer or request.user.is_student %}
					<a class="dropdown-item" href="{% url 'user_course_list' %}"><i class="fas fa-book me-2"></i>My
						Courses</a>
					{% endif %}

					{% if request.user.is_superuser %}
					<a class="dropdown-item" href="{% url 'admin_panel' %}"><i class="fas fa-user-tie me-2"></i>Admin
						Panel</a>
					{% endif %}

					<a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user me-2"></i>Profile</a>
					<a class="dropdown-item" href="{% url 'edit_profile' %}"><i class="fas fa-cog me-2"></i>Setting</a>
					<hr>
					<div style="display: flex; justify-content: center; align-items: center;">
						<a class="btn btn-secondary" href="{% url 'logout' %}">
							<i class="fas fa-sign-out-alt"></i> Signout
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>